/* CSS Document */

div .navbar-header img {
	margin-top: 5px;
}
.navbar-default {
	background-image:url(images/WEBB_Comp_BG_02.jpg);

}

.navbar-right{
	font-size:18px;
	font-weight:bold;
	color:#ab1f23;
}


.carousel-control.left {
	margin-left: -50px;
}
.carousel-control.right {
	float:right;
	margin-right: -250px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.item img{
	margin-left: 50px;
}
.modal-content p{
	margin:20px;
}
.modal-content img {
margin-bottom:10px;
}

.modal .btn{
  clear:both;
  position:relative;
  }

footer {
	color:white;
	padding-top:20px;
	padding-bottom:25px;
	background-color:#4e483c;
	height: auto;
}
footer a{
	color:#949351;
}


col-lg-6 h4 {
	line-height: 35px;
	}


.col-lg-7 .right {
  width: 50%;
}

.col-lg-7 .left {
  margin-right: 2%;
}

.btn-default{
font-size:14px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
color: #A1A1A1;
}

    .facebook .btn{
  margin-bottom:20px;
  margin-top:10px;
  }

/*form*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form button, form textarea {
	color: black;
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
	color: white;
	cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* Footer */

footer {
    padding: 10px ;
}

.quote .btn {
  display:none;
  }

@media (max-width: 1199px) {
	.text-right {
		text-align:center;
		line-height:20px;
	}
	.hide-sm {
	 display:none;
	}
	.col-lg-6 .btn-danger {
		margin-bottom:70px;
	}
	.navbar-right{
	font-size:14px;
	font-weight:normal;
}
	.navbar-right{
	font-size:14px;
	font-weight:normal;
}
.col-lg-5 .img-responsive{
	clear:both;
	margin: 0 auto;
}
#image img{
	clear:both;
	margin: 0 auto;
	display:block;
}
  .navbar-default {
	  background-repeat:no-repeat;

  }

  .modal-dialog {
	margin-right:50%;
	width:80%;
}



}
@media (max-width: 991px) {
  .pestmap {
	  display:none;
	  }

.quote .btn {
	display:block;
	margin:0 auto;
  width:50%;
  margin-bottom:20px;
  }
    .facebook .btn{

	display:block;
	margin:0 auto;
  width:50%;
  margin-bottom:20px;
  }

}



@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
	clear:both;
    margin-bottom: 20px;
  }

  .modal {
	display:none;
  }

.quote .btn {
	display:block;
	margin:0 auto;
  width:80%;
  margin-bottom:20px;
  }

  .facebook .btn{

	  	display:block;
	margin:0 auto;
  width:80%;
  margin-bottom:20px;
  }
  .pestmap {
	  display:none;
	  }

  .navbar-collapse .navbar-right li a {
  	display:block;
	clear:both;
	background-color:#FFFFFF;
	text-align:center;
	font-size:18px;
}

.header{
	font-size:24px;
	display:block;

	margin-right:20%;
}

  .navbar-default {
	 background-repeat:no-repeat;
}

.col-lg-5 .img-responsive{
	width:80%;
}
#image img{
	width:80%;
}

footer p {
	margin:10px 10%;
	font-size:16px;
}

.navbar-header img{
  	display:block;
	clear:both;
	margin:0 auto;
}
.navbar-header button{
	display:block;
	clear:both;
	width:60%;
  	margin-right:20%;
	margin-bottom:-8px;
}

/*form mob*/

form #submit {
	font-size:22px;
	width:80%;
}

.btn-default{
	width:100%;
}

#field6 {
clear:both;
display:block;

}

}
